<div class="container">
  <h2>Event List</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Event Title</th>
        <th>Description</th>
        <th>Likes</th>
        <th>Like</th>
        <th>Unlike</th> 
      </tr>
    </thead>
    <tbody>
      {{#events}}
      <tr>
        <td>{{ title }}</td>
        <td>{{ description }}</td>
        <td>{{ likes }}</td>
        <td> 
            <form method="POST" action="/event/like">
                <input type="hidden" value="{{id}}" name="id">
                <input type="submit" class="btn btn-success" value="Like">
            </form>
        </td>
        <td> 
            <form method="POST" action="/event/unlike">
                <input type="hidden" value="{{id}}" name="id">
                <input type="submit" class="btn btn-warning" value="Un-Like">
            </form>
        </td>
      </tr>
    {{/events}}
    </tbody>
  </table>
</div>
